@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");


*{
   font-weight: 900;
   font-family: 'Poppins', sans-serif;
   
}
.class-container {
  display: flex;
  flex-direction: row; /* Change to row to place them side by side */
  margin-bottom: 10px; /* Adjust spacing between each pair */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  zoom: 150%;
  background-color: #1e1e1e; /* Dark gray */
  width: device-width;
  background-color: #0d1321;  /*Dark gray */
}


#unweighted, #nunweighted {
  display: none;
}

ul {
  text-align: center;
  display: flex;
  list-style: inside;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

label {
  color: #ffffff; /* White */
  text-align: center;
  display: flex;
  list-style: inside;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

[class="text"] {
  color: #ffffff; /* White */
  text-align: center;
  display: inline-block;
  list-style: inside;
  margin-right: auto;
  font-size: 1rem;
  margin-left: auto;
  align-items: center;
  margin:0.3rem;
  justify-content: center;
  background: #333333;
  color: #ffffff; /* White */
  padding: 0.5rem;
  border-radius: 10px; /* Rounded corners */
}

/* Style the heading */
h1 {
  text-align: center;
  margin-top: 50px;
  color: #ffffff; /* White */
  font-size: 40px;
  font-weight: 600;
}

#submit {
  background: linear-gradient(135deg, #2e5496 0%, #df8940 100%);
  border-color: #0d1321;
}

/* Style the join room button */
/* Style the leave room button */

input[type="text"],
select {
  /* Remove flex styles and adjust width as needed */
  display: flex;
  text-align: center;
  margin: 0 10px; /* Adjust spacing between input and select elements */
  width: 150px; /* Adjust width as needed */
  height: 30px;
  border-style: solid;
  border-color: #333333; /* Dark gray */
  background-color: #333333; /* Dark gray */
  border-radius: 20px 20px;
  color: #ffffff; /* White */
  font-size: 16px;
}

input[class="seminp"] {
  padding: 10px;
  margin: 5px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0.3rem; /* Adjust spacing between button elements */
  min-width: 160px;
  padding: 0.2rem;
  align-items: center;
  cursor: pointer;
  margin: 0.3rem; /* Adjust spacing between button elements */
  width: 150px;
  height: 30px;
  border-style: solid;
  border-color: #1c3a56; /* Dark blue */
  background-color: #1c3a56; /* Dark blue */
  border-radius: 20px 20px;
  color: #ffffff; /* White */
  font-size: 16px;
}


/* Position the buttons */

img {
  width: 30px;
  height: 30px;
}
